<div class="congressperson-info">
    <div class="profile-pic">
             <img  src="{{image_url}}"/>
    </div>
    <div class="basic-info">
        <span>{{congressperson_name}}</span>

        <div>
            <span>Nascimento:</span>
            <span>{{birthday}}</span>
        </div>
        <div>
            <span>Situação:</span>
            <span>{{status}}</span>
        </div>
        <div>
            <span>Partido:</span>
            <span>{{party}}</span>
        </div>
    </div>
</div>
